
<navbar [className]="'other'"></navbar>



<section>
    <div class="container mt-5">
        <div class="row d-flex flex-column text-center">
            <div>
                <h2 data-aos="fade-up" data-aos-duration="800" class="title-6 text-center">Gestión cobraza</h2>
                <div class="d-flex flex-row align-items-center justify-content-center">
                    <div data-aos="fade-right" class="border-text"></div>
                    <p data-aos="fade-up" data-aos-duration="800" class="h5 text-blue">Más de 20 años de experiencias exitosas en el sector público y  privado.</p>
                    <div data-aos="fade-left" class="border-text"></div>
                </div>
            </div>
        </div>
        <div class="row mt-4 d-flex align-items-center justify-content-center">
            <div data-aos="fade-up" data-aos-duration="800" class="col-12 col-md-12 col-lg-6 text-center text-md-center text-lg-start">
                <h2 class="title-6">Descripción</h2>
                <p class="text text-muted mt-2">
                    Ofrecemos nuestros  servicios de gestión y asesoría la  discrecionalidad necesaria para  nuestros clientes.
                </p>
                <button (click)="navigate()" class="btn btn-primary mt-2">Realizar solicitud <span><i class="fa-solid fa-arrow-right"></i></span></button>
            </div>
            <div data-aos="fade-up" data-aos-duration="800" class="col-12 col-md-12 col-lg-6 d-flex justify-content-center">
                <img src="assets/images/png/business.png" class="img-fluid obj-fit">
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container p-5">
        <div class="row mt-5 d-flex">
            <div data-aos="fade-up" data-aos-duration="800" class="col-12 col-md-6 col-lg-4 d-flex flex-row align-items-center align-items-stretch">
                <div class="card card-shadow border-radius d-flex flex-column text-start w-100 h-100 p-4 m-2">
                    <h2 class="title-6 text-blue">01</h2>
                    <h4 class="text text-bold text-blue-dark">GESTIÓN DE COBRANZA Y RECAUDACIÓN</h4>
                    <p class="text text-muted mt-2">Este componente nos permite realizar seguimiento  a cada cliente para lograr el pago de sus tributos o  servicios. Por los diferentes canales de gestión: virtuales, telefónicos y presenciales.</p>
                </div>
            </div>
            <div data-aos="fade-up" data-aos-duration="800" class="col-12 col-md-6 col-lg-4 d-flex flex-row align-items-center align-items-stretch">
                <div class="card card-shadow border-radius d-flex flex-column text-start w-100 h-100 p-4 m-2">
                    <h2 class="title-6 text-blue">02</h2>
                    <h4 class="text text-bold text-blue-dark">ATENCIÓN AL CLIENTE</h4>
                    <p class="text text-muted mt-2">Consiste en la atención de los clientes por los canales telefónicos y canales virtuales con soporte de primer y segundo nivel.</p>
                </div>
            </div>
            <div data-aos="fade-up" data-aos-duration="800" class="col-12 col-md-6 col-lg-4 d-flex flex-row align-items-center align-items-stretch">
                <div class="card card-shadow border-radius d-flex flex-column text-start w-100 h-100 p-4 m-2">
                    <h2 class="title-6 text-blue">03</h2>
                    <h4 class="text text-bold text-blue-dark">GESTIÓN TECNOLÓGICA DE COBRANZA</h4>
                    <p class="text text-muted mt-2">Componente que permite llevar la operación, gestión, control y monitoreo del servicios de cobranza.</p>
                </div>
            </div>
            <div data-aos="fade-up" data-aos-duration="800" class="col-12 col-md-6 col-lg-4 d-flex flex-row align-items-center align-items-stretch">
                <div class="card card-shadow border-radius d-flex flex-column text-start w-100 h-100 p-4 m-2">
                    <h2 class="title-6 text-blue">04</h2>
                    <h4 class="text text-bold text-blue-dark">INTELIGENCIA DE NEGOCIO</h4>
                    <p class="text text-muted mt-2">Diseño y ejecución: plan comunicacional por los  diferentes medios y estudios para identificar comportamiento y expectativas de los  contribuyentes y/o clientes.</p>
                </div>
            </div>
            <div data-aos="fade-up" data-aos-duration="800" class="col-12 col-md-6 col-lg-4 d-flex flex-row align-items-center align-items-stretch">
                <div class="card card-shadow border-radius d-flex flex-column text-start w-100 h-100 p-4 m-2">
                    <h2 class="title-6 text-blue">05</h2>
                    <h4 class="text text-bold text-blue-dark">CONTROL Y MONITOREO DEL SERVICIO</h4>
                    <p class="text text-muted mt-2">Contiene las funcionalidades de: auditoría, fiscalización y fiscal de punto.</p>
                </div>
            </div>
            <div data-aos="fade-up" data-aos-duration="800" class="col-12 col-md-6 col-lg-4 d-flex flex-row align-items-center align-items-stretch">
                <div class="card card-shadow border-radius d-flex flex-column text-start w-100 h-100 p-4 m-2">
                    <h2 class="title-6 text-blue">06</h2>
                    <h4 class="text text-bold text-blue-dark">INDICADORES DEL SERVICIO</h4>
                    <p class="text text-muted mt-2">Indicadores de gestión que permiten medir las brechas operativas que apoyan la correcta toma de decisiones y estrategias a seguir en cuanto al servicio.</p>
                </div>
            </div>
            <div data-aos="fade-up" data-aos-duration="800" class="col-12 col-md-6 col-lg-4 d-flex flex-row align-items-center align-items-stretch">
                <div class="card card-shadow border-radius d-flex flex-column text-start w-100 h-100 p-4 m-2">
                    <h2 class="title-6 text-blue">07</h2>
                    <h4 class="text text-bold text-blue-dark">ADMINISTRACIÓN DE CENTROS DE CONTACTO</h4>
                    <p class="text text-muted mt-2">Recaudar y administrar de manera óptima la cartera de cuentas por cobrar, fomentando una cultura de pagos a los clientes gestionados.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container mt-110">
        <div class="row d-flex flex-row">
            <div data-aos="fade-up" data-aos-duration="800" class="col-12 col-md-12 col-lg-6 text-center text-md-center text-lg-start">
                <h2 class="title-6">Infraestructura</h2>
                <div class="mt-4" data-aos="fade-up" data-aos-duration="800">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item text-bold"><p class="text text-muted mb-0">Centro de contacto.</p></li>
                        <li class="list-group-item text-bold"><p class="text text-muted mb-0">Cuarto de servidores.</p></li>
                        <li class="list-group-item text-bold"><p class="text text-muted mb-0">Sala de monitoreo e indicadores.</p></li>
                        <li class="list-group-item text-bold"><p class="text text-muted mb-0">Seguridad y vigilancia.</p></li>
                    </ul>
                  </div>
            </div>
            <div data-aos="fade-up" data-aos-duration="800" class="col-12 col-md-12 col-lg-6 d-flex justify-content-center">
                <img src="assets/images/png/infraestructure.png" class="img-fluid obj-fit">
            </div>
        </div>
        <div class="row d-flex flex-row-reverse mt-110">
            <div data-aos="fade-up" data-aos-duration="800" class="col-12 col-md-12 col-lg-6 text-center text-md-center text-lg-start">
                <h2 class="title-6">Equipamiento tecnológico</h2>
                <div class="mt-4" data-aos="fade-up" data-aos-duration="800">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item text-bold"><p class="text text-muted mb-0">Central telefónica.</p></li>
                        <li class="list-group-item text-bold"><p class="text text-muted mb-0"> IVR simples e interactivos.</p></li>
                        <li class="list-group-item text-bold"><p class="text text-muted mb-0">Plataforma sms.</p></li>
                        <li class="list-group-item text-bold"><p class="text text-muted mb-0">Infraestructura como servicio: servidores, conectividad, banco de baterías, respaldo.</p></li>
                        <li class="list-group-item text-bold"><p class="text text-muted mb-0">Computadoras, tabletas.</p></li>
                        <li class="list-group-item text-bold"><p class="text text-muted mb-0">Cámaras de monitoreo.</p></li>
                        <li class="list-group-item text-bold"><p class="text text-muted mb-0">Discador predictivo y manual.</p></li>
                    </ul>
                  </div>
            </div>
            <div data-aos="fade-up" data-aos-duration="800" class="col-12 col-md-12 col-lg-6 d-flex justify-content-center">
                <img src="assets/images/png/server.png" class="img-fluid obj-fit">
            </div>
        </div>
        <div class="row d-flex flex-row mt-110">
            <div data-aos="fade-up" data-aos-duration="800" class="col-12 col-md-12 col-lg-6 text-center text-md-center text-lg-start">
                <h2 class="title-6">Soluciones aplicativos</h2>
                <div class="mt-4" data-aos="fade-up" data-aos-duration="800">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item text-bold"><p class="text text-muted mb-0">CRM.</p></li>
                        <li class="list-group-item text-bold"><p class="text text-muted mb-0">Portal único de pagos.</p></li>
                        <li class="list-group-item text-bold"><p class="text text-muted mb-0">Factura Digital.</p></li>
                        <li class="list-group-item text-bold"><p class="text text-muted mb-0">Inteligencia fiscal scoring.</p></li>
                        <li class="list-group-item text-bold"><p class="text text-muted mb-0">Conciliación.</p></li>
                        <li class="list-group-item text-bold"><p class="text text-muted mb-0">Módulo de indicadores.</p></li>
                        <li class="list-group-item text-bold"><p class="text text-muted mb-0">Desarrollo de soluciones.</p></li>
                    </ul>
                  </div>
            </div>
            <div data-aos="fade-up" data-aos-duration="800" class="col-12 col-md-12 col-lg-6 d-flex justify-content-center">
                <img src="assets/images/png/programming.png" class="img-fluid obj-fit">
            </div>
        </div>
        <div class="row d-flex flex-row-reverse mt-110">
            <div data-aos="fade-up" data-aos-duration="800" class="col-12 col-md-12 col-lg-6 text-center text-md-center text-lg-start">
                <h2 class="title-6">Comunicación</h2>
                <div class="mt-4" data-aos="fade-up" data-aos-duration="800">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item text-bold"><p class="text text-muted mb-0">Redes sociales: instagram, facebook y twitter.</p></li>
                        <li class="list-group-item text-bold"><p class="text text-muted mb-0">Página web.</p></li>
                    </ul>
                </div>
            </div>
            <div data-aos="fade-up" data-aos-duration="800" class="col-12 col-md-12 col-lg-6 d-flex justify-content-center">
                <img src="assets/images/png/social.png" class="img-fluid obj-fit">
            </div>
        </div>
    </div>
    
</section>
<section>
    <div data-aos="fade-up" data-aos-duration="800" class="container mt-110">
        <div class="row d-flex">
            <div class="col-12 text-start">
                <h2 class="title-4 text-blue-dark">MODELO DE MANTENIMIENTO Y RECUPERACIÓN DE CARTERA</h2>
            </div>
            <div class="col-12 mt-3">
                <div class="table-responsive">
                    <table class="table align-middle ">
                        <thead>
                          <tr>
                              <th class="text text-bold bg-blue-dark text-white">TIPO DE GESTIÓN</th>
                              <th class="text text-bold">PREVENTIVA</th>
                              <th class="text text-bold">ADMINISTRATIVA</th>
                              <th class="text text-bold">EXTRA JUDICIAL</th>
                              <th class="text text-bold">JUDICIAL</th>
                          </tr>
                        </thead>
                      </table>
                </div>
            </div>
        </div>
    </div>
</section>
