
<navbar [className]="'other'"></navbar>



<section>
    <div class="container mt-5">
        <div class="row d-flex flex-column text-center">
            <div>
                <h2 data-aos="fade-up" data-aos-duration="800" class="title-6 text-center">Desarrollo a la medida</h2>
                <div class="d-flex flex-row align-items-center justify-content-center">
                    <div data-aos="fade-right" class="border-text"></div>
                    <p data-aos="fade-up" data-aos-duration="800" class="h5 text-blue">Una solución tecnológica adecuada a sus necesidades</p>
                    <div data-aos="fade-left" class="border-text"></div>
                </div>
            </div>
        </div>
        <div class="row mt-4 d-flex flex-row align-items-sm-start align-items-md-center align-items-lg-center justify-content-center p-4">
            <div data-aos="fade-right" class="col-12 col-md-6 col-lg-6 d-flex flex-row-reverse justify-content-center align-items-center">
              <img src="assets/images/png/developer.png" class="img-fluid obj-fit">
            </div>
            <div data-aos="fade-left" class="col-12 col-md-6 col-lg-6 d-flex flex-column justify-content-sm-center justify-content-md-center text-center text-sm-center text-md-center text-lg-start">
                <h2 class="title-6">Descripción</h2>
                <p class="text p-2 mt-2">El desarrollo de software a la medida es un servicio que le permite obtener una solución tecnológica adecuada a sus necesidades, partiendo del conocimiento de su negocio y procesos internos, hasta llegar a la puesta en funcionamiento en un ambiente productivo.</p>
                <div>
                    <button (click)="navigate()" class="btn btn-primary mt-2">Realizar solicitud <span><i class="fa-solid fa-arrow-right"></i></span></button>
                </div>
            </div>
        </div>
        
    </div>
</section>
<section>
    <div class="container">
        <div class="row mt-5 d-flex align-items-center justify-content-center">
            <div data-aos="fade-up" data-aos-duration="800" class="col-12 col-md-6 col-lg-6 d-flex flex-column text-start ">
                <h2 class="title-4 text-blue-dark">MODELADO DEL NEGOCIO</h2>
                <div class="mt-2" data-aos="fade-up" data-aos-duration="800">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><p class="text mb-0">Tipo de negocio</p></li>
                        <li class="list-group-item"><p class="text mb-0">¿Qué hacen?</p></li>
                        <li class="list-group-item"><p class="text mb-0">¿Qué ofrecen?</p></li>
                        <li class="list-group-item"><p class="text mb-0">¿A quién va dirigido?</p></li>
                        <li class="list-group-item"><p class="text mb-0">¿Qué desean alcanzar?</p></li>
                    </ul>
                </div>
            </div>
            <div data-aos="fade-up" data-aos-duration="800" class="col-12 col-md-6 col-lg-6 d-flex flex-row align-items-center align-items-stretch">
                <img src="assets/images/png/model2.png" class="img-fluid obj-fit">
            </div>
        </div>
        <div class="row mt-5 d-flex flex-row-reverse justify-content-center align-items-center">
            <div data-aos="fade-up" data-aos-duration="800" class="col-12 col-md-6 col-lg-6 d-flex flex-column">
                <h2 class="title-4 text-blue-dark">ANÁLISIS Y DISEÑO</h2>
                <div class="mt-2" data-aos="fade-up" data-aos-duration="800">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><p class="text mb-0">Arquitectura del sistema más adecuada y el diseño detallado necesario previo a las actividades de implementación.</p></li>
                        <li class="list-group-item"><p class="text mb-0">Utilización de patrones arquitectónicos de diseño y mejores prácticas de construcción de software.</p></li>
                        <li class="list-group-item"><p class="text mb-0">Validación del enfoque funcional de la solución analizada.</p></li>
                    </ul>
                </div>
            </div>
            <div data-aos="fade-up" data-aos-duration="800" class="col-12 col-md-6 col-lg-6 d-flex flex-row align-items-center align-items-stretch">
                <img src="assets/images/png/design.png" class="img-fluid obj-fit">
            </div>
        </div>
        <div class="row mt-5 d-flex align-items-center justify-content-center">
            <div data-aos="fade-up" data-aos-duration="800" class="col-12 col-md-6 col-lg-6 d-flex flex-column">
                <h2 class="title-4 text-blue-dark">DESARROLLO</h2>
                <div class="mt-2" data-aos="fade-up" data-aos-duration="800">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><p class="text mb-0">Actividades de codificación del software que de acuerdo al diseño, cumplen con los requerimientos funcionales y aspectos técnicos del sistema.</p></li>
                        <li class="list-group-item"><p class="text mb-0">Gestión de los cambios y todos los elementos que intervienen en el proceso de construcción.</p></li>
                        <li class="list-group-item"><p class="text mb-0">Dotar al proyecto de recursos hardware y software para facilitar la puesta en marcha y mantenimiento de los distintos entornos de desarrollo y pruebas o la propia puesta en producción del sistema.</p></li>
                    </ul>
                </div>
            </div>
            <div data-aos="fade-up" data-aos-duration="800" class="col-12 col-md-6 col-lg-6 d-flex flex-row align-items-center align-items-stretch">
                <img src="assets/images/png/develoment.png" class="img-fluid obj-fit w-100">
            </div>
        </div>
        <div class="row mt-5 d-flex flex-row-reverse justify-content-center align-items-center">
            <div data-aos="fade-up" data-aos-duration="800" class="col-12 col-md-6 col-lg-6 d-flex flex-column">
                <h2 class="title-4 text-blue-dark">PRUEBAS</h2>
                <div class="mt-2" data-aos="fade-up" data-aos-duration="800">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><p class="text mb-0">Permiten la verificación a todos los elementos que se realizan (documentos, diseños o código) para ver que cumplan con los requerimientos y con los estándares de calidad definidos para el proyecto.</p></li>
                        <li class="list-group-item"><p class="text mb-0">Se verifican de manera unitaria y de manera integrada todos los componentes de software y se realiza junto a los usuarios avanzados del cliente la validación de la solución desarrollada a fin de contar con todas las evidencias que garanticen el cumplimiento en alcance, funcionalidad y calidad que nuestro cliente espera y con los aspectos técnicos que las áreas tecnológicas que brindarán el soporte requieren.</p></li>
                    </ul>
                </div>
            </div>
            <div data-aos="fade-up" data-aos-duration="800" class="col-12 col-md-6 col-lg-6 d-flex flex-row align-items-center align-items-stretch">
                <img src="assets/images/png/test.png" class="img-fluid obj-fit">
            </div>
        </div>  
        <div class="row mt-5 d-flex flex-row justify-content-center align-items-center">
            <div data-aos="fade-up" data-aos-duration="800" class="col-12 col-md-6 col-lg-6 d-flex flex-column">
                <h2 class="title-4 text-blue-dark">PUESTA EN MARCHA</h2>
                <div class="mt-2" data-aos="fade-up" data-aos-duration="800">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><p class="text mb-0">En esta etapa del ciclo de vida de un sistema de información hay que proceder a la instalación del hardware y software elegidos.</p></li>
                        <li class="list-group-item"><p class="text mb-0">Crear la documentación pertinente y capacitar a los usuarios</p></li>
                    </ul>
                </div>
            </div>
            <div data-aos="fade-up" data-aos-duration="800" class="col-12 col-md-6 col-lg-6 d-flex flex-row align-items-center align-items-stretch">
                <img src="assets/images/png/puesta_en_marcha.png" class="img-fluid obj-fit">
            </div>
        </div>  
        <div class="row mt-5 d-flex flex-row-reverse justify-content-center align-items-center">
            <div data-aos="fade-up" data-aos-duration="800" class="col-12 col-md-6 col-lg-6 d-flex flex-column">
                <h2 class="title-4 text-blue-dark">MANTENIMIENTO Y SOPORTE</h2>
                <div class="mt-2" data-aos="fade-up" data-aos-duration="800">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><p class="text mb-0">Este proceso nos servirá para enfrentar posibles errores descubiertos, así como incorporar novedades o requisitos en el software.</p></li>
                        <li class="list-group-item"><p class="text mb-0">Mejorar el rendimiento y corregir los problemas que puedan surgir.</p></li>
                    </ul>
                </div>
            </div>
            <div data-aos="fade-up" data-aos-duration="800" class="col-12 col-md-6 col-lg-6 d-flex flex-row align-items-center align-items-stretch">
                <img src="assets/images/png/support_2.png" class="img-fluid obj-fit">
            </div>
        </div> 
    </div>
</section>