
<footer>
    <div class="container-footer">
        <div class="d-flex justify-content-between row">
            <div class="text-center text-lg-start col-sm-12 col-md-12 col-lg-3">
                <img src="assets/images/png/logo-paguetodo-blanco.png" class="img-fluid">
            </div>
            
            <div class="custom-styles-footer p-3 offset-lg-0 offset-md-2 offset-sm-1 offset-xs-0 custom-footer-aligment col-lg-2 col-md-4 col-sm-5 col-xs-6 col-12">
                <h4>Empresa</h4>
                <a class="a mtop" routerLink="">Inicio</a>
                <a class="a mtop" routerLink="nosotros">Nosotros</a>
                <a class="a mtop" routerLink="contact">Contacto</a>
                <a class="a mtop" routerLink="consult">Consulta tu ticket</a>
            </div>
            <!-- <div class="custom-styles-footer p-3 offset-lg-0 offset-md-2 offset-sm-1 offset-xs-0 custom-footer-aligment col-lg-2 col-md-4 col-sm-5 col-xs-6 col-12">
                <h4>Consultas</h4>
                <a class="a mtop" [routerLink]="['/consulta-servicio']" routerLinkActive="router-link-active" >Estatus de solicitud</a>
            </div> -->
            <div class="custom-styles-footer p-3 offset-lg-0 offset-md-2 offset-sm-1 offset-xs-0 custom-footer-aligment col-lg-3 col-md-4 col-sm-5 col-xs-6 col-12">
                <h4>Dirección</h4>
                <label>Av. Luis Roche con 3ra transversal de Altamira, Municipio Chacao, Torre Nuevo Mundo piso 7, Caracas, Venezuela.</label>
                <h4 class="m-top">Teléfonos:</h4>
                <a class="a icon-red" href="https://wa.me/+584241509043?text=Hola%20solicito%20información"><i class="fab fa-whatsapp"></i>&nbsp;&nbsp;<label>+58 (424)-150-9043</label></a>
                <a class="a icon-red" href="tel:+582122668612"><i class="fas fa-phone"></i>&nbsp;&nbsp;<label>(0212)-266-8612</label></a>
                <h4 class="mt-5">Redes Sociales</h4>
                <div>
                    <a class="a icon-red m-2" target="_blank" href="https://www.instagram.com/paguetodo/?hl=es"><span><i class="fab fa-instagram"></i></span></a>
                    <a class="a icon-red m-2" target="_blank" href="https://www.facebook.com/Paguetodo-172132649656211"><span><i class="fab fa-facebook"></i></span></a>
                    <a class="a icon-red m-2" target="_blank" href="https://twitter.com/paguetodo"><span><i class="fab fa-twitter"></i></span></a>
                </div>
                <hr/>
            </div>
            
        </div>
        <div class="row align-only-sm footer-extra-content d-flex align-items-center w-100">
            <div class="p-3 pt-0 col-lg-12 d-flex align-items-center flex-wrap justify-content-around w-100">
                <a class="text-5 a-2 m-2" href="mailto:operaciones@paguetodo.com">operaciones@paguetodo.com</a>
                <a class="text-5 a-2 me-4 ms-4 m-2" href="tel:+582122773400">(0212)-277-3400</a>
                <label class="text-5 m-2">© 2022 Paguetodo. Todos los derechos reservados.</label>
            </div>
        </div> 
    </div>
    <div class="container-fluid bg-dark d-flex align-items-center justify-content-center">
        <div class="pt-3">
            <p class="custom-end-footer">
                <a class="a" routerLink="terminos-y-condiciones">Términos y condiciones</a>
                <span>&nbsp;|&nbsp;</span> 
                <a class="a" routerLink="politicas-de-privacidad">Políticas de Privacidad</a>
            </p>
        </div>
    </div>
  </footer>
