
<navbar [className]="'other'"></navbar>



<section id="about-us">
    <div class="container p-0">
        <div class="row d-flex flex-row align-items-stretch justify-content-center p-0">
            <div data-aos="fade-right" data-aos-duration="800"class="col-12 col-lg-4 d-flex justify-content-center flex-column bg-blue-dark vh-75">
                <div class="p-4">
                    <h2 class="title-6 text-white">¿Quienes somos?</h2>
                    <p class="text mt-4 text-white">
                        Somos una empresa con más de 10 años en el área de recaudación y recarga, desarrolladora de soluciones para pagos y cobros, orientada a optimizar la experiencia financiera de nuestros clientes y aliados.
                    </p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center flex-column">
                <div data-aos="fade-left" data-aos-duration="800" class="w-100 p-4">
                    <h2 class="title-4 text-start">Misión</h2>
                    <p class="text text-left mt-2">Proporcionar servicios de soluciones de pago y recaudación electrónica con la más alta e innovadora tecnología y personal calificado, orientado a satisfacer las necesidades financieras de los clientes y aliados comerciales.</p>
                    <div class="line w-75 mt-4"></div>
                </div>
                <div data-aos="fade-left" data-aos-duration="800" class="w-100 p-4">
                    <h2 class="title-4 text-start">Visión</h2>
                    <p class="text text-left mt-2">Ofrecer soluciones digitales que contribuyan a la desmaterialización de los productos financieros en contribución de la digitalización monetaria del país. Ser la empresa líder en el mercado Venezolano de soluciones de pagos y recaudación de fondos electrónicos, apostando al impulso y desarrollo financiero de nuestros clientes y aliados comerciales. </p>
                    <div class="line w-75 mt-4"></div>
                </div>
            </div>
            <div data-aos="fade-left" data-aos-duration="800" class="col-12 col-md-6 col-lg-4 d-flex justify-content-center flex-column">
                <img src="assets/images/png/mision-vision.png" alt="" class="img-fluid obj-fit">
            </div>
        </div>
    </div>
</section>
