<navbar [className]="'other'"></navbar>
<div class="container mt-5 card-shadow card p-5">
    <div class="row">
        <div class="col-12 text-center"><h2 class="title-6">POLÍTICAS DE PRIVACIDAD</h2></div>
        <div class="col-12 text-start mt-2">
            <p class="text text-muted">La sociedad mercantil Servicios Paguetodo, C.A., constituida mediante documento inscrito por
                ante el Registro Mercantil Segundo de la Circunscripción Judicial del Distrito Capital, el día 12 de
                Noviembre de 2013, bajo el No. 64, Tomo 102-4, e inscrita en el Registro Único de Información
                Fiscal (R.I.F.) bajo las siglas J- 403399646, en lo sucesivo denominada Paguetodo, recopila a
                través de sus distintos canales, tales como: portal web, correo electrónico, redes sociales y
                aplicaciones móviles, entre otras fuentes, información acerca de las personas naturales y jurídicas
                que acceden a ellos, en lo adelante y a los solos efectos de las presentes políticas denominados
                Usuarios o Usuario, bien se utilice dicho término en plural o singular; en virtud de ello, considera
                que los Usuarios deben entender los términos y condiciones que rigen el uso de la información
                recopilada a través de los referidos canales.</p>
        </div>
        <div class="col-12 text-start">
            <h4 class="title-4 mt-2 mb-2">1. Información recopilada:</h4>
            <ul>
                <li class="text text-muted">Paguetodo podrá recopilar información acerca de los Usuarios, a manera de ejemplo, intereses,
                    frecuencia con la que acceden a los canales habilitados por Paguetodo y tipos de requerimientos.
                    Dicha información se obtiene automáticamente, es anónima y se utiliza sin identificar a ningún
                    Usuario individualmente; esta información permite a Paguetodo analizar el tráfico en los distintos
                    canales y adaptar sus contenidos a las necesidades de los Usuarios, entre otros fines. Por otra
                    parte, Paguetodo podrá requerir a los Usuarios algunos datos personales, de carácter no
                    confidencial, con el objetivo de facilitar a éstos: contenidos, encuestas y otros servicios
                    relacionados.</li>
                <li class="text text-muted">Si un Usuario desea adquirir alguno de los productos y servicios que ofrece Paguetodo,
                    obligatoriamente deberá suministrar a Paguetodo la información y/o la documentación requerida
                    por Paguetodo para este fin, a través del canal que Paguetodo habilite para estos efectos,
                    pudiendo Paguetodo abstenerse de suministrar el producto o prestar el servicio, según sea el caso,
                    si el Usuario no proporciona esta información o si la misma presenta errores u omisiones.
                    Paguetodo asevera y garantiza que, la información suministrada por el Usuario para la
                    contratación de los productos y servicios que ofrece Paguetodo, quedará protegida como
                    información confidencial, en el expreso entendido que la misma sólo podrá ser utilizada por
                    Paguetodo, a los fines de proveer el producto o servicio, así como para mantener informado a
                    dicho Usuario de otros productos y servicios adicionales que puedan interesarle. Con respecto a la
                    información suministrada por el Usuario en el marco de la contratación de los productos y
                    servicios que Paguetodo ofrece o comercializa, Paguetodo sólo revelará y compartirá la misma con
                    otras empresas u organizaciones:  En la medida en que ello sea necesario para proveer el
                    producto o servicio al Usuario y previa suscripción por parte de Paguetodo con tal tercero de un
                    acuerdo de confidencialidad con la amplitud suficiente para proteger la información del Usuario</li>
                <li class="text text-muted">Si el Usuario autoriza expresamente a Paguetodo para que la suministre a terceros.</li>
                <li class="text text-muted">En caso que la misma sea requerida por una autoridad judicial o administrativa, en el marco de
                    sus competencias.</li>
            </ul>
        </div>
        <div class="col-12 text-start">
            <h4 class="title-4 mt-2 mb-2">2. Uso de información recopilada:</h4>
            <ul>
                <li class="text text-muted">Paguetodo utilizará la información personal de los Usuarios para enviarles información acerca
                    de los productos y servicios que ofrece, según se indicó anteriormente, no pudiendo ser
                    considerada esta práctica como “spam”. Los Usuarios podrán optar por no recibir dichos envíos en
                    el futuro, enviando un comunicado a través de los canales que Paguetodo habilite para tales fines.
                    Adicionalmente, Paguetodo podrá usar la información de los Usuarios para determinar los datos
                    demográficos de éstos, recopilar y distribuir información estadística y, en general, del mercado al
                    cual ofrece sus servicios; estos datos demográficos siempre representan información global y
                    nunca identifican a un Usuario en particular.</li>
                <li class="text text-muted">La información personal de los Usuarios no será revelada por Paguetodo a ninguna otra persona
                    natural o jurídica, dejando a salvo lo dispuesto en el literal b) del inciso 1.</li>
                <li class="text text-muted">Si por cualquier motivo, Paguetodo decidiera utilizar la información personal de los Usuarios
                    para cualquier fin que no se haya enumerado anteriormente, Paguetodo hará sus mejores
                    esfuerzos a fin de informar previamente a los Usuarios sobre el uso de dicha información, a fin de
                    obtener de éstos el consentimiento respectivo, si fuere necesario.</li>
            </ul>
        </div>
        <div class="col-12 text-start">
            <h4 class="title-4 mt-2 mb-2">3. Opciones del Usuario de modificar la información suministrada:</h4>
            <p class="text text-muted">Paguetodo ofrecerá a los Usuarios la posibilidad de corregir o cambiar la información suministrada
                por éstos con anterioridad. Los Usuarios podrán cambiar esta información en cualquier momento
                y tan a menudo como sea necesario, ahora bien, en los supuestos que Paguetodo así lo requiera y
                exija, deberán prestar a Paguetodo los respectivos soportes o comprobantes, sólo a los fines de
                que Paguetodo efectúe su cotejo.</p>
        </div>
        <div class="col-12 text-start">
            <h4 class="title-4 mt-2 mb-2">4. Seguridad:</h4>
            <p class="text text-muted">El Portal Web de Paguetodo emplea conexiones seguras y otras medidas de seguridad destinadas
                a salvaguardar la confidencialidad de la información de los Usuarios.</p>
        </div>
        <div class="col-12 text-start">
            <h4 class="title-4 mt-2 mb-2">5. Modificaciones a la política de privacidad:</h4>
            <p class="text text-muted">Paguetodo se reserva el derecho de modificar esta política en cualquier momento, entrando en
                vigencia dichas modificaciones a partir de su publicación en el portal web de Paguetodo; en virtud
                de lo antes expuesto, los Usuarios se comprometen a revisar periódicamente esta sección, así
                como las otras secciones que conforman este portal web, para estar informado de tales
                modificaciones, en el entendido que el acceso al portal web de Paguetodo a partir de la entrada en
                vigencia del nuevo instrumento, será considerado como una aceptación de su contenido.</p>
        </div>
        <div class="col-12 text-start">
            <h4 class="title-4 mt-2 mb-2">6. Atención de reclamos:</h4>
            <p class="text text-muted">A fin de brindar atención y oportuna respuesta a los reclamos o quejas de los Usuarios, Paguetodo
                ha dispuesto canales y procedimientos adecuados y efectivos; queda expresamente entendido
                que, tales reclamos serán respondidos y atendidos, previa presentación por parte del Usuario
                reclamante de los soportes o comprobantes que sean requeridos por Paguetodo para la
                evaluación de su caso. Paguetodo podrá a disposición de los Usuarios en su portal web, la
                información correspondiente a los canales de atención de quejas y reclamos.</p>
        </div>
        <div class="col-12 text-start">
            <h4 class="title-4 mt-2 mb-2">7. Disposiciones Finales:</h4>
            <p class="text text-muted">En todo lo no previsto en esta política, se aplicará lo dispuesto en el Código Civil, Código de
                Comercio, la Ley de Mensajes de Datos y Firmas Electrónicas, la Ley Especial contra Delitos
                Informáticos y cualquier otro decreto, resoluciones, instructivos o normas dictadas por las
                autoridades competentes que resulten aplicables.</p>
            <p class="text text-muted">
                Jurisdicción Las controversias que se deriven de esta política, deberán ser interpuestas por ante
                los tribunales de la Ciudad de Caracas, República Bolivariana de Venezuela.
            </p>
        </div>
    </div>
</div>