
<navbar [className]="'other'"></navbar>



<section>
    <div class="container-fluid">
        <div class="row d-flex flex-row align-items-stretch justify-content-center">
            <div data-aos="fade-right" data-aos-duration="800"class="col-12 col-lg-4 d-flex justify-content-center flex-column bg-blue-dark vh-85">
                <div class="p-5">
                    <h2 class="title-6 text-white">Recaudar</h2>
                    <p class="text mt-4 text-white">
                        Es ofrecer una solución de cobro que incluye todas las operaciones requeridas para el negocio. 
                    </p>
                    <p class="text mt-4 text-white">
                        Recaudar permite optimizar los recursos. Incluso que el dinero llegue de manera segura.
                    </p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center flex-column">
                <div data-aos="fade-left" data-aos-duration="800" class="w-100 p-5">
                    <h2 class="title-4 text-start">SERVICIOS RECAUDACIÓN Y RECARGA EN LÍNEA</h2>
                    <p class="text text-left mt-2">Es un servicio Corporativo de recaudación y recarga en línea, donde los usuarios pueden realizar pagos  de facturas de servicios públicos y privados.</p>
                    <div class="line w-75 mt-4"></div>
                </div>
            </div>
            <div data-aos="fade-left" data-aos-duration="800" class="col-12 col-md-6 col-lg-4 d-flex justify-content-center flex-column">
                <img src="assets/images/png/collect.png" alt="" class="img-fluid obj-fit">
            </div>
        </div>
    </div>
</section>
<section id="services">
    <div class="container mt-5 p-5">
        <div class="row d-flex justify-content-center align-items-stretch">
            <div class="col-12 text-center">
                <h2 class="title-6 text-blue-dark">Servicios</h2>
                <div class="d-flex flex-row align-items-center justify-content-center">
                    <div data-aos="fade-right" class="border-text"></div>
                    <p data-aos="fade-up" data-aos-duration="800" class="h5 text-blue">Nuestros servicios</p>
                    <div data-aos="fade-left" class="border-text"></div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-lg-2">
                <div class="card card-shadow p-4 m-2 d-flex justify-content-center align-items-center flex-column">
                    <img src="assets/images/png/movistar.png" class="img-fluid obj-fit">
                    <p class="text text-end text-bold">pospago</p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-lg-2">
                <div class="card card-shadow p-4 m-2 d-flex justify-content-center align-items-center flex-column">
                    <img src="assets/images/png/cantv.png" class="img-fluid obj-fit">
                    <p class="text text-end text-bold">pospago</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="description">
    <div class="container bg-blue-light">
        <div class="row d-flex align-items-center p-5">
            <div data-aos="fade-up" data-aos-duration="800"class="col-12 col-md-4 col-4 p-2">
                <h2 class="title-4 text-blue-dark">CANAL FÍSICO DE RECAUDACIÓN Y RECARGA EN LÍNEA</h2>
                <p class="text text-muted mt-4">Contamos con una red de aliados que nos permiten realizar el cobro de los servicios con el cliente presente.</p>
            </div>
            <div data-aos="fade-up" data-aos-duration="800"class="col-12 col-md-8 col-8 swiper mySwiper p-2">
                <div class="mb-3 text-center"><h2 class="h3 text-blue-dark">¿Cómo funciona?</h2></div>
                <div class="swiper-wrapper align-items-stretch d-flex m-auto">
                    <div class="card card-shadow swiper-slide p-4">
                            <img src="assets/images/png/paso1.png" class="img-fluid obj-fit">
                            <ul class="ul">
                                <li class="li"><p class="text text-muted">El usuario de dirige a una tienda aliada a Paguetodo.</p></li>
                                <li class="li"><p class="text text-muted">Suministra el número de cuenta del servicio a pagar y el monto.</p></li>
                                <li class="li"><p class="text text-muted">Realiza el pago según el método  de pago de su preferencia.</p></li>
                            </ul>
                    </div>
                    <div class="card card-shadow swiper-slide p-4">
                            <img src="assets/images/png/paso2.png" class="img-fluid obj-fit">
                            <ul class="ul">
                                <li class="li"><p class="text text-muted">Paguetodo consolida todos los pagos.</p></li>
                                <li class="li"><p class="text text-muted">Paguetodo valida, concilia y compensa pagos.</p></li>
                                <li class="li"><p class="text text-muted">Paguetodo transfiere fondos a la empresa de servicios.</p>    </li>
                            </ul>
                    </div>
                    <div class="card card-shadow swiper-slide p-4">
                            <img src="assets/images/png/paso3.png" class="img-fluid obj-fit">
                            <ul class="ul">
                                <li class="li"><p class="text text-muted">Empresa de servicios recibe pagos.</p></li>
                                <li class="li"><p class="text text-muted">Empresa de servicios concilia y compensa sus cuentas.</p></li>
                                <li class="li"><p class="text text-muted">Empresa de servicios paga a Paguetodo por servicio.</p></li>
                            </ul>
                    </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row d-flex align-items-center mt-5 p-5">
            <div data-aos="fade-up" data-aos-duration="800"class="col-12 col-md-4 col-4 p-2">
                <h2 class="title-4 text-blue-dark">CANAL VIRTUAL DE RECAUDACIÓN Y RECARGA EN LÍNEA</h2>
                <p class="text text-muted mt-4">Como parte de nuestra transformación digital, hemos evolucionado con API’s para el pago en línea, que nos permiten ofertar a nuestros clientes, mecanismos para el pago de servicios por canales virtuales.</p>
            </div>
            <div data-aos="fade-up" data-aos-duration="800"class="col-12 col-md-8 col-8 swiper mySwiper p-2">
                <div class="mb-3 text-center"><h2 class="h3 text-blue-dark">¿Cómo funciona?</h2></div>
                <div class="swiper-wrapper align-items-stretch align-content-lg-stretch">
                    <div class="card card-shadow swiper-slide align-self-stretch p-4">
                            <img src="assets/images/png/paso1-1.png" class="img-fluid obj-fit">
                            <ul class="ul">
                                <li><p class="text text-muted">El usuario se dirige a uno de los siguientes sitios web:</p>
                                    <ul class="ul">
                                        <!-- <li><p class="text text-muted">Sitio web de la empresa de servicio y sitio web de paguetodo.</p></li> -->
                                        <li><p class="text text-muted">Introduce el número de cuenta del servicio a pagar y el monto.</p></li>
                                        <li><p class="text text-muted">Realiza el pago según el método  de pago de su preferencia.</p></li>
                                    </ul>
                                </li>
                                
                            </ul>
                    </div>
                    <div class="card card-shadow swiper-slide align-self-stretch p-4">
                            <img src="assets/images/png/paso2.png" class="img-fluid obj-fit">
                            <ul class="ul">
                                <li><p class="text text-muted">Paguetodo consolida todos los pagos.</p></li>
                                <li><p class="text text-muted">Paguetodo valida, concilia y compensa pagos.</p></li>
                                <li><p class="text text-muted">Paguetodo transfiere fondos a la empresa de servicios.</p></li>
                            </ul>
                    </div>
                    <div class="card card-shadow swiper-slide align-self-stretch p-4">
                            <img src="assets/images/png/paso3.png" class="img-fluid obj-fit">
                            <ul class="ul">
                                <li><p class="text text-muted">Empresa de servicios recibe pagos.</p></li>
                                <li><p class="text text-muted">Empresa de servicios concilia y compensa sus cuentas.</p></li>
                                <li><p class="text text-muted">Empresa de servicios paga a Paguetodo por servicio.</p></li>
                            </ul>
                    </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
</section>
<section id="beneficios">
    <div class="container mt-2 p-5">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-12 col-md-12 col-lg-7">
                <div class="p-5 d-flex flex-column">
                    <h2 data-aos="fade-up" data-aos-duration="800" class="title-6 text-blue-dark">Beneficios para los aliados</h2>
                    <p class="text text-muted mt-2">Contamos con un plan de incentivo que nos permite crecer cada  día en aliados comerciales.</p>
                    <img src="assets/images/png/beneficios.png" class="img-fluid obj-fit moveupdown">
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-5">
                <div data-aos="fade-up" data-aos-duration="800" class="row d-flex align-items-stretch m-auto">
                    <div  class="col-12 col-md-12 col-lg-12 d-flex flex-row align-items-center align-items-stretch">
                        <div class="card card-shadow border-radius d-flex flex-row align-items-center text-start w-100 h-100 p-4 m-2">
                            <h2 class="title-6 text-blue"><i class="fa-solid fa-traffic-light"></i></h2>
                            <h4 class="h5 text-bold ms-3">Tráfico adicional de clientes.</h4>
                        </div>
                    </div>
                    <div class="col-12 col-md-12 col-lg-12 d-flex flex-row align-items-center align-items-stretch">
                        <div class="card card-shadow border-radius d-flex flex-row align-items-center text-start w-100 h-100 p-4 m-2">
                            <h2 class="title-6 text-blue"><i class="fa-solid fa-cart-shopping"></i></h2>
                            <h4 class="h5 text-bold ms-3">Ventas  cruzadas de sus productos.</h4>
                        </div>
                    </div>
                    <div class="col-12 col-md-12 col-lg-12 d-flex flex-row align-items-center align-items-stretch">
                        <div class="card card-shadow border-radius d-flex flex-row align-items-center text-start w-100 h-100 p-4 m-2">
                            <h2 class="title-6 text-blue"><i class="fa-solid fa-circle-check"></i></h2>
                            <h4 class="h5 text-bold ms-3">Comisión por cada transacción procesada.</h4>
                        </div>
                    </div>
                    <div class="col-12 col-md-12 col-lg-12 d-flex flex-row align-items-center align-items-stretch">
                        <div class="card card-shadow border-radius d-flex flex-row align-items-center text-start w-100 h-100 p-4 m-2">
                            <h2 class="title-6 text-blue"><i class="fas fa-bullhorn"></i></h2>
                            <h4 class="h5 text-bold ms-3">Publicidad gratuita.</h4>
                        </div>
                    </div>
                    <div class="col-12 col-md-12 col-lg-12 d-flex flex-row align-items-center align-items-stretch">
                        <div class="card card-shadow border-radius d-flex flex-row align-items-center text-start w-100 h-100 p-4 m-2">
                            <h2 class="title-6 text-blue"><i class="fas fa-lightbulb"></i></h2>
                            <h4 class="h5 text-bold ms-3">Servicio útil que construye la fidelización de su cartera de clientes.</h4>
                        </div>
                    </div>
                </div>
            </div>
          </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row d-flex align-items-center p-5">
            <div class="col-12 col-md-6 col-lg-6 position-relative" data-aos="fade-up" data-aos-duration="800">
                <img src="assets/images/png/mapa.png" alt="" class="img-fluid obj-fit">
            </div>
            <div class="col-12 col-md-6 col-lg-6 d-flex flex-column p-5" data-aos="fade-up" data-aos-duration="800">
                <p class="h2 text-blue-dark"><span><i class="fa-solid fa-location-dot"></i></span>&nbsp;&nbsp;PAGUETODO CUENTA CON ALIADOS EN TODO EL TERRITORIO NACIONAL</p>
                <p class="text-muted mt-4">Si quieres generar ingresos extras, puedes convertirte en un aliado comercial PAGUETODO: recargar y recaudar servicios.</p>
                <div class="btns d-flex justify-content-end position-relative">
                    <button (click)="navigate()" class="btn btn-primary mt-2">Únete a la red.</button>
                    <span class="position-absolute h2 text-dark myhand"><i class="fas fa-hand-pointer"></i></span>
                </div>
            </div>
        </div>
    </div>
</section>