
<navbar [className]="'other'"></navbar>


<section id="soluciones">
  <div class="container mt-5">
    <div class="row d-flex flex-column text-center">
      <div>
          <h2 data-aos="fade-up" data-aos-duration="800" class="title-6 text-center">Soluciones de pago</h2>
          <div class="d-flex flex-row align-items-center justify-content-center">
              <div data-aos="fade-right" class="border-text"></div>
              <p data-aos="fade-up" data-aos-duration="800" class="h5 text-blue">Facilita el pago y cobro de tus servicios o productos</p>
              <div data-aos="fade-left" class="border-text"></div>
          </div>
      </div>
    </div>
    <div class="row mt-4 d-flex flex-row align-items-sm-start align-items-md-center align-items-lg-center justify-content-center p-4">
      <div data-aos="fade-right" class="col-12 col-md-6 col-lg-6 d-flex flex-row-reverse justify-content-center align-items-center">
        <img src="assets/images/png/soluciones-3.png" class="img-fluid obj-fit w-100 h-100">
      </div>
      <div data-aos="fade-left" class="col-12 col-md-6 col-lg-6 d-flex flex-column justify-content-sm-center justify-content-md-center text-center text-sm-center text-md-center text-lg-start">
          <h2 class="title-6 mt-sm-5 mt-lg-0">Descripción</h2>
          <p class="text text-muted mt-4">Accede a nuestra innovadora solución, la cual facilitará el pago y cobro de tus servicios o productos, comparte tu solución digital con diversas personas.</p>
      </div>
    </div>
  </div>
</section>
<section id="pay-button">
  <div class="container mt-5">
    <div class="row d-flex justify-content-center align-items-center">
      <div data-aos="fade-right" class="col-12 col-md-12 col-lg-6">
        <h2 class="title-6">Botón de pago</h2>
        <p class="text text-muted mt-4">Es un portal que permite a los clientes naturales y jurídicos realizar pagos de productos y servicios de forma fácil y segura.</p>
        <p class="text text-muted">Integra tu plataforma de e-commerce con nuestra pasarela y cobra tus productos o servicios online. Realiza cobros online desde cualquier plataforma gracias a la integración fácil y rápida de nuestros APIs.</p>
      </div>
      <div data-aos="fade-left" data-aos-duration="800" class="col-12 col-md-12 col-lg-6">
        <img src="assets/images/png/page-button.png" alt="" class="img-fluid">
      </div>
    </div>
    <div class="row d-flex justify-content-center align-items-stretch">
      <div data-aos="fade-up" data-aos-duration="800"  class="col-12 text-center"><h2 class="title-6">Beneficios</h2></div>
      <div data-aos="fade-right" data-aos-duration="800" class="col-12 col-md-6 col-lg-4 d-flex align-items-stretch">
        <div class="card card-shadow d-flex flex-column p-4 w-100 mt-4">
          <div class="row d-flex flex-column align-items-center justify-content-center">
            <div class="col-12 col-md-6 col-lg-6 d-flex justify-content-center">
              <img src="assets/images/png/client.png" class="img-fluid obj-fit">
            </div>
            <div class="col-12 text-center mt-2">
              <h5 class="title-4 text-blue-dark">CLIENTE</h5>
              <ul class="ul text-start mt-2">
                <li class="text text-muted li">Servicio autogestionable.</li>
                <li class="text text-muted li">Multibanco.</li>
                <li class="text text-muted li">Seguridad bancaria.</li>
                <li class="text text-muted li">Fácil y rápido.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div data-aos="fade-left" data-aos-duration="800" class="col-12 col-md-6 col-lg-4 d-flex align-items-stretch">
        <div class="card card-shadow d-flex flex-column p-4 w-100 mt-4">
          <div class="row d-flex flex-column align-items-center justify-content-center">
            <div class="col-12 col-md-6 col-lg-6 d-flex justify-content-center">
              <img src="assets/images/png/company-soluciones.png" class="img-fluid obj-fit">
            </div>
            <div class="col-12 text-center mt-2">
              <h5 class="title-4 text-blue-dark">COMERCIO</h5>
              <ul class="ul text-start mt-2">
                <li class="text text-muted li">Facilita pagos a distancia.</li>
                <li class="text text-muted li">Mayor número de ventas.</li>
                <li class="text text-muted li">Mayor alcance.</li>
                <li class="text text-muted li">Servicio autogestionable.</li>
                <li class="text text-muted li">Solución adquirencia multicanal.</li>
                <li class="text text-muted li">Múltiples formas de pago: TDC,TDD y C2P.</li>
                <li class="text text-muted li">Recibe pagos sin limitaciones</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container mt-110">
    <div class="row d-flex align-items-center justify-content-center flex-row">
      <div data-aos="fade-up" data-aos-duration="800" class="col-12 col-lg-6">
        <h2 class="title-4 mb-3">¿Deseas implementar en tu website un botón de pago que impulse las ventas de tu negocio?</h2>
        <div class="row d-flex align-items-stretch align-content-stretch">
          <div class="col-12 col-md-12 col-lg-6 d-flex flex-row">
            <div class="card card-shadow border-radius d-flex flex-column text-start w-100 h-100 p-4 m-2">
                <h2 class="title-6 text-blue">01</h2>
                <p class="text text-muted mt-2">Solicita las credenciales para acceder a botón de pago en la entidad bancaria de tu preferencia.</p>
            </div>
          </div>
          <div  class="col-12 col-md-12 col-lg-6 d-flex flex-row">
              <div class="card card-shadow border-radius d-flex flex-column text-start w-100 h-100 p-4 m-2">
                  <h2 class="title-6 text-blue">02</h2>
                  <label class="text text-muted mt-2">Ingresa en <a target="_blank" href="https://www.paguetodo.com">www.paguetodo.com</a>. Crea una cuenta con el correo electrónico y los datos de tu negocio.</label>
              </div>
          </div>
          <div  class="col-12 col-md-12 col-lg-6 d-flex flex-row">
            <div class="card card-shadow border-radius d-flex flex-column text-start w-100 h-100 p-4 m-2">
                <h2 class="title-6 text-blue">03</h2>
                <p class="text text-muted mt-2">Ubica la sesión de “Canales de pago” y crea un canal.</p>
            </div>
          </div>
          <div  class="col-12 col-md-12 col-lg-6 d-flex flex-row">
            <div class="card card-shadow border-radius d-flex flex-column text-start w-100 h-100 p-4 m-2">
                <h2 class="title-6 text-blue">04</h2>
                <p class="text text-muted mt-2">Ubica la sesión de “Botón de pago” e introduce los datos.</p>
            </div>
          </div>
          <div  class="col-12 col-md-12 col-lg-12 d-flex flex-row">
            <div class="card card-shadow border-radius d-flex flex-column text-start w-100 h-100 p-4 m-2">
                <h2 class="title-6 text-blue">05</h2>
                <p class="text text-muted mt-2">Integra tu botón a tu página web. Se creará el botón y usted podrá seleccionar el código HTML e insertarlo en su página web.</p>
            </div>
          </div>
        </div> 
      </div>
      <div data-aos="fade-left" data-aos-duration="800" class="col-12 col-lg-6 d-flex flex-column justify-content-center">
        <img src="assets/images/png/click.png" class="img-fluid obj-fit">
        <div class="d-flex justify-content-center mt-5 mb-2">
          <button (click)="navigate('pay-button')" class="btn btn-primary p-3 ps-4 pe-4">Generar botón de pago</button>
        </div>
      </div>
    </div>
    
  </div>
</section>
<section id="pay-link">
  <div class="container mt-5">
    <div class="row d-flex justify-content-center align-items-center">
      <div data-aos="fade-right" class="col-12 col-md-12 col-lg-6">
        <h2 class="title-6">Enlace de pago</h2>
        <p class="text text-muted mt-4">Cobra a través de tus redes sociales o WhatsApp enviándole a tus clientes un enlace de pago.</p>
        <p class="text text-muted">Soluciones de pago electrónico: Enlace de pago- un ecosistema de autogestión sorprendentemente fácil y flexible de utilizar.</p>
      </div>
      <div data-aos="fade-left" data-aos-duration="800" class="col-12 col-md-12 col-lg-6">
        <img src="assets/images/png/pay-link.png" alt="" class="img-fluid">
      </div>
    </div>

    <div class="row d-flex justify-content-center align-items-stretch">
      <div data-aos="fade-up" data-aos-duration="800"  class="col-12 text-center"><h2 class="title-6">Beneficios</h2></div>
      <div data-aos="fade-right" data-aos-duration="800" class="col-12 col-md-6 col-lg-4 d-flex align-items-stretch">
        <div class="card card-shadow d-flex flex-column p-4 w-100 mt-4">
          <div class="row d-flex flex-column align-items-center justify-content-center">
            <div class="col-12 col-md-6 col-lg-6 d-flex justify-content-center">
              <img src="assets/images/png/client.png" class="img-fluid obj-fit">
            </div>
            <div class="col-12 text-center mt-2">
              <h5 class="title-4 text-blue-dark">CLIENTE</h5>
              <ul class="ul text-start mt-2">
                <li class="text text-muted li">Seguridad bancaria.</li>
                <li class="text text-muted li">Fácil y rápido.</li>
                <li class="text text-muted li">Autogestionable.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div data-aos="fade-left" data-aos-duration="800" class="col-12 col-md-6 col-lg-4 d-flex align-items-stretch">
        <div class="card card-shadow d-flex flex-column p-4 w-100 mt-4">
          <div class="row d-flex flex-column align-items-center justify-content-center">
            <div class="col-12 col-md-6 col-lg-6 d-flex justify-content-center">
              <img src="assets/images/png/company-soluciones.png" class="img-fluid obj-fit">
            </div>
            <div class="col-12 text-center mt-2">
              <h5 class="title-4 text-blue-dark">COMERCIO</h5>
              <ul class="ul text-start mt-2">
                <li class="text text-muted li">No necesita website.</li>
                <li class="text text-muted li">Mayor número de ventas.</li>
                <li class="text text-muted li">Fácil implementación y máxima seguridad.</li>
                <li class="text text-muted li">Mayor alcance.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-110">
    <div class="row d-flex align-items-center justify-content-center flex-row">
      <div data-aos="fade-up" data-aos-duration="800" class="col-12 col-lg-6">
        <h2 class="title-6 mb-3">Genera enlaces de pago</h2>
        <p class="text text-muted">Podrás compartir por medio de distintas plataformas: correos electrónicos, redes sociales: Instagram, Facebook, WhatsApp donde tus clientes podrán pagar por tus productos o servicios. Genera el tuyo con estos simples pasos: </p>
        <div class="row d-flex align-items-stretch align-content-stretch">
          <div class="col-12 col-md-12 col-lg-6 d-flex flex-row">
            <div class="card card-shadow border-radius d-flex flex-column text-start w-100 h-100 p-4 m-2">
                <h2 class="title-6 text-blue">01</h2>
                <p class="text text-muted mt-2">Solicita las credenciales para acceder al enlace de pago en la entidad bancaria de tu preferencia.</p>
            </div>
          </div>
          <div  class="col-12 col-md-12 col-lg-6 d-flex flex-row">
              <div class="card card-shadow border-radius d-flex flex-column text-start w-100 h-100 p-4 m-2">
                  <h2 class="title-6 text-blue">02</h2>
                  <label class="text text-muted mt-2">Ingresa en <a target="_blank" href="https://www.paguetodo.com">www.paguetodo.com</a>. Crea una cuenta con el correo electrónico y los datos de tu negocio.</label>
              </div>
          </div>
          <div  class="col-12 col-md-12 col-lg-6 d-flex flex-row">
            <div class="card card-shadow border-radius d-flex flex-column text-start w-100 h-100 p-4 m-2">
                <h2 class="title-6 text-blue">03</h2>
                <p class="text text-muted mt-2">Ubica la sesión de “Enlace de pago” y crea un nuevo enlace.</p>
            </div>
          </div>
          <div  class="col-12 col-md-12 col-lg-6 d-flex flex-row">
            <div class="card card-shadow border-radius d-flex flex-column text-start w-100 h-100 p-4 m-2">
                <h2 class="title-6 text-blue">04</h2>
                <p class="text text-muted mt-2">Ubica la sesión de “Botón de pago” e introduce los datos.</p>
            </div>
          </div>
          <div  class="col-12 col-md-12 col-lg-6 d-flex flex-row">
            <div class="card card-shadow border-radius d-flex flex-column text-start w-100 h-100 p-4 m-2">
                <h2 class="title-6 text-blue">05</h2>
                <p class="text text-muted mt-2">Ingresa los datos del producto o servicio a vender.</p>
                <p class="text text-muted mt-2">Colocar la información de los productos:</p>
                <ul class="ul">
                  <li class="li text text-muted">Descripción</li>
                  <li class="li text text-muted">Precio</li>
                  <li class="li text text-muted">Moneda</li>
                </ul>
            </div>
          </div>
          <div  class="col-12 col-md-12 col-lg-6 d-flex flex-row">
            <div class="card card-shadow border-radius d-flex flex-column text-start w-100 h-100 p-4 m-2">
                <h2 class="title-6 text-blue">06</h2>
                <p class="text text-muted mt-2">Oprime guardar y listo comparte en enlace en la plataforma de tu preferencia.</p>
                
            </div>
          </div>
        </div> 
      </div>
      <div data-aos="fade-left" data-aos-duration="800" class="col-12 col-lg-6 d-flex flex-column justify-content-center align-items-center">
        <img src="assets/images/png/www.png" class="img-fluid obj-fit w-100">
        <div class="d-flex justify-content-center mt-5 mb-2">
          <button (click)="navigate('pay-link')" class="btn btn-primary p-3 ps-4 pe-4">Generar enlace de pago</button>
        </div>
      </div>
    </div>
    
  </div>
</section>
<section id="banks">
<div class="timeline-container mt-5">
  <h2 class="project-name title-6">Bancos que soporta</h2> 
  <div id="timeline">

      <div class="timeline-item">
        <div class="timeline-icon">
          <i class="fa fa-envelope-o" aria-hidden="true"></i>
        </div>
        <div class="timeline-content">
          <h2>TARJETA DE DÉBITO</h2>
          <div class="row">
            <div class="col-6"><img src="assets/images/png/banfanb.png" class="img-fluid obj-fit img-static"></div>
            <div class="col-6"><img src="assets/images/png/bancaribe.png" class="img-fluid obj-fit img-static"></div>
            <div class="col-6"><img src="assets/images/png/banco-el-tesoro.png" class="img-fluid obj-fit img-static"></div>
            <div class="col-6"><img src="assets/images/png/mibanco.png" class="img-fluid obj-fit img-static"></div>
            <div class="col-6"><img src="assets/images/png/bancrecer.png" class="img-fluid obj-fit img-static"></div>
            <div class="col-6"><img src="assets/images/png/bancamiga.png" class="img-fluid obj-fit img-static"></div>
          </div>
        </div>
      </div>

      <div class="timeline-item">
        <div class="timeline-icon">
          <i class="fa fa-envelope-open-o" aria-hidden="true"></i>
        </div>
        <div class="timeline-content right">
          <h2>TARJETA DE CRÉDITO</h2>
          <div class="row">
            <div class="col-6"><img src="assets/images/png/mastercard.png" class="img-fluid obj-fit img-static-2 mt-2"></div>
            <div class="col-6"><img src="assets/images/png/visa.png" class="img-fluid obj-fit img-static-2"></div>
          </div>
          
          
        </div>
      </div>

      <div class="timeline-item">
        <div class="timeline-icon success">
          <i class="fa fa-star" aria-hidden="true"></i>
        </div>
        <div class="timeline-content">
          <h2>PAGOMOVIL C2P</h2>
          <div class="row">
            <div class="col-6"><img src="assets/images/png/bancaribe.png" class="img-fluid obj-fit img-static"></div>
            <div class="col-6"><img src="assets/images/png/mercantil.png" class="img-fluid obj-fit img-static"></div>
          </div>
        </div>
      </div>
  </div>
  </div>
</section>
