<navbar [className]="'other'"></navbar>
<div class="container mt-5 card-shadow card p-5">
    <div class="row">
        <div class="col-12 text-center"><h2 class="title-6">TÉRMINOS Y CONDICIONES</h2></div>
        <div class="col-12 text text-muted mt-2">
            <p class="text text-muted">
                A continuación, se describen los términos y condiciones que rigen el uso del portal web de la
            sociedad mercantil Servicios Paguetodo, C.A., constituida mediante documento inscrito por ante el
            Registro Mercantil Segundo de la Circunscripción Judicial del Distrito Capital, en fecha 12 de
            Noviembre de 2013, bajo el No. 64, Tomo 102-4, e inscrita en el Registro Único de Información
            Fiscal (R.I.F.) bajo las siglas J- 403399646, en lo sucesivo denominada Paguetodo. Paguetodo
            podrá a disposición del público en general, personas naturales y jurídicas, quienes a efectos de
            este instrumento se denominarán Usuarios o Usuario, bien se utilice dicho término en plural o
            singular, a través de su portal web, información clara y exacta acerca de los productos y servicios
            que comercializa, reflejando con exactitud, las características y beneficios de éstos, así como los
            derechos y obligaciones a cargo de las personas que los contraten. El personal de Paguetodo
            prestará todo su apoyo a los Usuarios, a fin de éstos puedan comprender el preciso alcance,
            trascendencia y consecuencias jurídicas de sus obligaciones. Es acuerdo expreso que la utilización
            de tales productos y servicios estará sujeta al cumplimiento por parte del Usuario de las
            condiciones que rigen para éstos, contenidas en los contratos estarán a disposición de los Usuarios
            en el portal web de Paguetodo, entre otros canales que se habiliten para tales efectos, respecto a
            los cuales, Paguetodo exigirá su aceptación expresa a través de los mecanismos que defina para
            estos fines. Los Usuarios se obligan a leer cuidadosamente este instrumento, así como la política
            de privacidad. Se entiende que al acceder al portal web de Paguetodo, los Usuarios están de
            acuerdo con los términos y condiciones establecidos en los mencionados documentos y aceptan
            someterse a lo allí previsto.
            </p>
        </div>
        <div class="col-12 text-start">
           <h5 class="title-4 mt-2 mb-2">1. Términos y limitaciones de uso:</h5>
            <p class="text text-muted">
                1.1 Los contenidos del portal web de Paguetodo, a saber: textos, imágenes, archivos de audio y de
                video, archivos de software, combinaciones de colores, así como la estructura, selección,
                ordenación y presentación de sus contenidos, se encuentran protegidos por las normas sobre
                derecho de autor, quedando prohibida su reproducción, distribución, comunicación pública y
                transformación, sin la autorización previa y por escrito de Paguetodo; por otra parte, las marcas
                comerciales y logotipos que aparecen en el portal web de Paguetodo, son propiedad de
                Paguetodo y/o de terceras personas con las cuales Paguetodo ha suscrito convenios que le
                permiten su uso. Los Usuarios tienen prohibido usar dichas marcas y logos para cualquier fin, a
                menos que se cuente con el consentimiento previo y por escrito de Paguetodo o de los terceros
                propietarios de las marcas.</p>
            <p class="text text-muted">
                1.2 Los equipos tecnológicos utilizados por los Usuarios para acceder al portal web de Paguetodo,
                son de la exclusiva responsabilidad de los Usuarios; dichos equipos deberán cumplir con los
                requerimientos, indicaciones y especificaciones técnicas para el acceso al portal web, si fuere el
                caso. Paguetodo no será responsable por el buen funcionamiento, idoneidad, capacidad y
                compatibilidad de estos equipos.
            </p>
            <p class="text text-muted">
                1.3 Paguetodo no garantiza de forma alguna el servicio ininterrumpido o libre de error de su
                portal web; en caso de que se verifique una falla o incidencia que afecte el normal funcionamiento
                de ésta, Paguetodo llevará a cabo las acciones necesarias para su restablecimiento en el más breve
                plazo.
            </p>
            <p class="text text-muted">
                1.4. El Usuario queda informado y acepta, que la remisión de una solicitud de contratación de
                cualquiera de los productos y servicios que comercializa Paguetodo, no supone el establecimiento
                de una relación comercial con Paguetodo, hasta tanto dicho Usuario no cumpla con todos los
                requisitos establecidos por Paguetodo en los contratos que regulan dichos productos y servicios,
                incluyendo la aceptación de éstos.
            </p>
        </div>
        <div class="col-12 text-start">
            <h5 class="title-4 mt-2 mb-2">2. Links con otras páginas web:</h5>
            <p class="text text-muted">2.1. El portal web de Paguetodo podrá permitir el enlace con otros sitios o páginas web operadas o
                administradas por personas naturales o jurídicas distintas a Paguetodo; tales vínculos han sido
                suministrados única y exclusivamente para la comodidad de los Usuarios. Queda expresamente
                entendido que Paguetodo no tiene el derecho a modificar, actualizar o controlar el contenido de
                un sitio enlazado desde su página web; inclusive, los sitios enlazados pueden contener
                disposiciones que difieran de los presentes términos y condiciones, en este sentido, Paguetodo no
                será responsable por dichas disposiciones y expresamente se libera y desconoce todo tipo de
                responsabilidad que se relacione con éstas.</p>
            <p class="text text-muted">2.2. El hecho de que Paguetodo facilite el enlace con otras páginas web, no constituye una
                autorización, cesión, patrocinio o afiliación con respecto a dicho sitio, o con respecto a sus
                propietarios, titulares o proveedores. Queda expresamente entendido que, el acceso a dichas
                páginas será por cuenta y riesgo del Usuario, quien deberá evaluar la veracidad, exactitud,
                integridad o utilidad de cualquier opinión, información, asesoría y contenidos disponibles a través
                del sitio enlazado.</p>
            <p class="text text-muted">2.3. Paguetodo prohíbe establecer enlaces no autorizados a su portal web; por lo cual, se reserva
                el derecho de desconectar los enlaces no autorizados.</p>
            
         </div>
         <div class="col-12 text-start">
            <h5 class="title-4 mt-2 mb-2">3. Compatibilidad de navegadores:</h5>
            <p class="text text-muted">El Usuario acepta y reconoce que el portal web y demás aplicaciones desarrolladas por Paguetodo,
                han sido diseñados para funcionar mejor con unos navegadores o con determinados sistemas
                operativos que con otros y, en tal sentido, el Usuario declara no tener derecho a efectuar reclamo
                alguno a Paguetodo por este concepto.</p>
         </div>
         <div class="col-12 text-start">
            <h5 class="title-4 mt-2 mb-2">4. Exención de responsabilidad de Paguetodo por los contenidos publicados en su Portal Web:</h5>
            <p class="text text-muted">4.1. Si bien Paguetodo hará su mejor esfuerzo a fin de mantener actualizados los contenidos
                publicados en su portal web, es probable que algún momento esta información no se encuentre
                actualizada, por lo cual, el Usuario se compromete a verificar con Paguetodo a través de los
                canales habilitados para tales efectos por Paguetodo, la información que allí se expresa, antes de
                contratar los productos y servicios que éste ofrece o comercializa.</p>
            <p class="text text-muted">4.2. Ninguna información publicada en el portal web de Paguetodo, constituye una
                recomendación, sugerencia u opinión favorable para que se contraten los productos y servicios allí
                descritos.</p>
            <p class="text text-muted">4.3. Algunas de las informaciones publicadas en el portal web contienen declaraciones a futuro
                que están sujetas a riesgos y/o a cambios; en virtud de ello, se advierte a los Usuarios que tales
                apreciaciones tienen validez únicamente con efectos a la fecha en la que se hacen. Queda
                expresamente entendido que Paguetodo no asumirá obligación alguna de actualizar, modificar o
                adaptar dichas declaraciones o apreciaciones.</p>
            <p class="text text-muted">4.4. Paguetodo no asume ninguna responsabilidad por los contenidos suministrados por los
                Usuarios y se reserva el derecho de retirar aquellos que considere ofensivos, difamatorios,
                obscenos, discriminatorios, que promuevan conductas delictuosas o que den origen a disturbios
                de naturaleza civil o que en general trasgredan la legislación vigente.</p>
            <p class="text text-muted">4.5. A los efectos de preservar los posibles derechos de propiedad industrial o de derecho de
                autor de cualquier persona que considere que se ha producido una violación de sus legítimos
                derechos por la publicación de un determinado contenido en el portal web de Paguetodo, ésta
                deberá notificar dicha circunstancia a Paguetodo, aportando la documentación que demuestre la
                existencia de dicho derecho, a cualquiera de las direcciones electrónicas dispuestas por Paguetodo
                para la atención de reclamos.</p>
         </div>
         <div class="col-12 text-start">
            <h5 class="title-4 mt-2 mb-2">5. Modificación de los contenidos publicados:</h5>
            <p class="text text-muted">Paguetodo podrá modificar los contenidos publicados en su portal web en cualquier momento y
                sin necesidad de previo aviso sobre el particular; igualmente, Paguetodo podrá realizar mejoras o
                cambios en su portal web, sin que ello implique una modificación de las presentes condiciones.</p>
         </div>
         <div class="col-12 text-start">
            <h5 class="title-4 mt-2 mb-2">6. Acceso a los productos y servicios que ofrece Paguetodo:</h5>
            <p class="text text-muted">El acceso y/o el uso de secciones y/o aplicaciones protegidas mediante el uso claves de acceso,
                está restringida a los clientes afiliados a los productos y servicios cuyo uso se limitó a través de
                este mecanismo. Las personas no autorizadas que intenten acceder a dichas secciones y/o
                aplicaciones, quedarán sujetas a las sanciones previstas en la legislación vigente, sin perjuicio de la
                posibilidad de que Paguetodo les bloquee o impida tales accesos.</p>
         </div>
         <div class="col-12 text-start">
            <h5 class="title-4 mt-2 mb-2">7. Tarifas y Comisiones.</h5>
            <p class="text text-muted">El acceso al portal web de Paguetodo está exento del pago de tarifas y comisiones por parte de
                los Usuarios, no así los productos y servicios que Paguetodo comercializa o pone a disposición del
                público en general; las tarifas o comisiones derivadas de la utilización de estos productos y
                servicios, serán debidamente informadas a los clientes afiliados a tales productos y servicios.</p>
         </div>
         <div class="col-12 text-start">
            <h5 class="title-4 mt-2 mb-2">8. Infracciones a los presentes términos y condiciones:</h5>
            <p class="text text-muted">Paguetodo se reserva el derecho de proceder, a través de los recursos que tiene disponibles
                conforme a la ley, en contra de cualquier Usuario que infrinja lo dispuesto en estos términos y
                condiciones y en la legislación vigente sobre la materia; sin perjuicio de la posibilidad de bloquear
                el acceso de dicho infractor al portal web de Paguetodo.</p>
         </div>
         <div class="col-12 text-start">
            <h5 class="title-4 mt-2 mb-2">9. Exención de la responsabilidad de Paguetodo:</h5>
            <p class="text text-muted">Además de los supuestos de exención de responsabilidad previstos en otras Cláusulas, Paguetodo
                no garantiza ni se responsabiliza por los daños directos e indirectos (incluyendo, pero sin limitar a,
                aquellos que se traduzcan en pérdidas de utilidades y lucro cesante, entre otros) que surjan o se
                relacionen con:
            </p>
            <ul>
                <li class="text text-muted" type="a">El uso de la información suministrada por un Usuario, por parte de terceras personas que
                    hubieren decodificado dicha información mediante el uso de sistemas informáticos.</li>
                <li class="text text-muted" type="a">Daños ocasionados a los equipos y/o programas de los Usuarios por la posible contaminación de
                    virus informáticos.</li>
                <li class="text text-muted" type="a">La interrupción o suspensión de los servicios disponibles en el portal web o el acceso a los
                    mismos, por mantenimiento, fallas en los sistemas, en el servicio eléctrico, telefónico, por razones
                    de orden técnico o de cualquier otra índole.</li>
                <li class="text text-muted" type="a">Retrasos, deficiencias o imposibilidad de acceso al portal web de Paguetodo, debido a
                    circunstancias que estén fuera del control de Paguetodo.</li>
            </ul>
         </div>
         <div class="col-12 text-start">
            <h5 class="title-4 mt-2 mb-2">10. Servicios por parte de terceros:</h5>
            <p class="text text-muted">10.1. Si en relación con la prestación de los productos y servicios que ofrece o comercializa
                Paguetodo, se utilizan los servicios de terceros tales como: proveedores de servicios de
                encomiendas o transporte, entre otros, es acuerdo expreso que estas prestaciones serán con el
                previo consentimiento o anuencia del cliente afiliado a dichos productos y servicios, siendo los
                términos y condiciones aplicables a los servicios a ser provistos por los terceros proveedores, los
                dispuestos en los contratos que regulan la relación entre éstos y los clientes afiliados.
            </p>
           <p class="text text-muted">10.2. Los eventos que afecten los tiempos de atención o la calidad de los servicios provistos por
                terceros, están fuera del control razonable de Paguetodo, quien se compromete a gestionar de
                manera diligente esta situación frente a estos terceros proveedores.</p>
         </div>
         <div class="col-12 text-start">
            <h5 class="title-4 mt-2 mb-2">11. Modificación de estos términos y condiciones:</h5>
            <p class="text text-muted">Paguetodo se reserva el derecho de modificar estos términos y condiciones en cualquier
                momento, entrando en vigencia dichas modificaciones a partir de su publicación en el portal web
                de Paguetodo; en virtud de lo antes expuesto, el Usuario se compromete a revisar periódicamente
                esta sección así como las otras secciones que conforman este portal web, para estar informado de
                tales modificaciones, en el entendido que el acceso al portal web de Paguetodo a partir de la
                entrada en vigencia de las nuevas condiciones de uso, será considerada como una aceptación de
                las mismas.
            </p>
         </div>
         <div class="col-12 text-start">
            <h5 class="title-4 mt-2 mb-2">12. Atención de reclamos:</h5>
            <p class="text text-muted">A fin de brindar atención y oportuna respuesta a los reclamos o quejas de los Usuarios, Paguetodo
                ha dispuesto canales y procedimientos adecuados y efectivos; queda expresamente entendido
                que, tales reclamos serán respondidos y atendidos, previa presentación por parte del Usuario
                reclamante de los soportes o comprobantes que sean requeridos por Paguetodo para la
                evaluación de su caso. Paguetodo podrá a disposición de los Usuarios en su portal web, la
                información correspondiente a los canales de atención de quejas y reclamos.
            </p>
         </div>
         <div class="col-12 text-start">
            <h5 class="title-4 mt-2 mb-2">14. Disposiciones Finales:</h5>
            <p class="text text-muted">En todo lo no previsto en estos términos y condiciones se aplicará lo dispuesto en el Código Civil,
                Código de Comercio, la Ley de Mensajes de Datos y Firmas Electrónicas, la Ley Especial contra
                Delitos Informáticos y cualquier otro decreto, resoluciones, instructivos o normas dictadas por las
                autoridades competentes que resulten aplicables.
                15. Jurisdicción Las controversias que se deriven de estos términos y condiciones, deberán ser
                interpuestas por ante los tribunales de la Ciudad de Caracas, República Bolivariana de Venezuela.
            </p>
         </div>
    </div>
</div>