
.masvendido{
  background: var(--color-secondary);
  color: white;
  top: 0;
  left: 50px;
  padding: 6px 20px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  font-size: 12px;
  z-index: 1;
}
.btn-pos{
  font-size: 12px !important;
  color: white;
  border-radius: 50px;
  background-color: #1266f1;
  
}
a.btn-pos{
  text-decoration: none;
}
.btn-pos:hover{
  transition: 500ms;
  background-color: #1457c4;
}
.btn-pos-success{
  font-size: 12px !important;
  color: white;
  border-radius: 50px;
  background-color: #1ec408;
}
.pd-pos{
  padding: 0.5rem 1.5rem !important;
}
.btn-pos-success:hover{
  transition: 500ms;
  background-color: #1f8a10;
}
.icon-success{
  top: -70px; 
  left: 0;
}
.content-rgb{
  background-color: #fafafa66;
}
.min-height{
  min-height: 300px !important;
}

.h-manual{
  height: 350px !important;
}
.border-tab{
  border: 2px solid #1457c4 !important;
}
.btn-absolute{
  position: absolute !important;
  top: 0;
  text-align: right;
}
.text-bold{
  font-weight: bold !important;
}

.card-border-none{
  border: none !important;
}

.color-red{
  color: var(--color-red-light) !important;
}
.card-border{
  border-radius: 0.4em !important;
}
.icon-6-rem{
  font-size:6rem;
}
.icon-3-rem{
  font-size:3.5rem;
}
.border-blue-dark{
  border-bottom: .5rem solid var(--background-primary) !important;
}
.transform{
  transform: translate(0px, -70px) !important;
}