.btn-ticket{
        border-radius: 0.2rem !important;
        padding: 0.84rem !important;
}
.text-transform{
        text-transform:none !important;
}
.confetti-piece {
    position: absolute;
    width: 10px;
    height: 26px;
    background: #ffd300;
    top: 0;
    opacity: 0;
  }
  .confetti-piece:nth-child(1) {
    left: 7%;
    transform: rotate(45deg);
    -webkit-animation: makeItRain 1000ms infinite ease-out;
            animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation-delay: 207ms;
            animation-delay: 207ms;
    -webkit-animation-duration: 1000ms;
            animation-duration: 1000ms;
  }
  .confetti-piece:nth-child(2) {
    left: 14%;
    transform: rotate(-1deg);
    -webkit-animation: makeItRain 1000ms infinite ease-out;
            animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation-delay: 70ms;
            animation-delay: 70ms;
    -webkit-animation-duration: 1101ms;
            animation-duration: 1101ms;
  }
  .confetti-piece:nth-child(3) {
    left: 21%;
    transform: rotate(41deg);
    -webkit-animation: makeItRain 1000ms infinite ease-out;
            animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation-delay: 194ms;
            animation-delay: 194ms;
    -webkit-animation-duration: 1007ms;
            animation-duration: 1007ms;
  }
  .confetti-piece:nth-child(4) {
    left: 28%;
    transform: rotate(14deg);
    -webkit-animation: makeItRain 1000ms infinite ease-out;
            animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation-delay: 18ms;
            animation-delay: 18ms;
    -webkit-animation-duration: 11014ms;
            animation-duration: 11014ms;
  }
  .confetti-piece:nth-child(5) {
    left: 35%;
    transform: rotate(-8deg);
    -webkit-animation: makeItRain 1000ms infinite ease-out;
            animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation-delay: 307ms;
            animation-delay: 307ms;
    -webkit-animation-duration: 1087ms;
            animation-duration: 1087ms;
  }
  .confetti-piece:nth-child(6) {
    left: 42%;
    transform: rotate(-3deg);
    -webkit-animation: makeItRain 1000ms infinite ease-out;
            animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation-delay: 477ms;
            animation-delay: 477ms;
    -webkit-animation-duration: 1094ms;
            animation-duration: 1094ms;
  }
  .confetti-piece:nth-child(7) {
    left: 49%;
    transform: rotate(-47deg);
    -webkit-animation: makeItRain 1000ms infinite ease-out;
            animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation-delay: 281ms;
            animation-delay: 281ms;
    -webkit-animation-duration: 1126ms;
            animation-duration: 1126ms;
  }
  .confetti-piece:nth-child(8) {
    left: 56%;
    transform: rotate(-31deg);
    -webkit-animation: makeItRain 1000ms infinite ease-out;
            animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation-delay: 447ms;
            animation-delay: 447ms;
    -webkit-animation-duration: 1075ms;
            animation-duration: 1075ms;
  }
  .confetti-piece:nth-child(9) {
    left: 63%;
    transform: rotate(-74deg);
    -webkit-animation: makeItRain 1000ms infinite ease-out;
            animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation-delay: 176ms;
            animation-delay: 176ms;
    -webkit-animation-duration: 1066ms;
            animation-duration: 1066ms;
  }
  .confetti-piece:nth-child(10) {
    left: 70%;
    transform: rotate(-71deg);
    -webkit-animation: makeItRain 1000ms infinite ease-out;
            animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation-delay: 424ms;
            animation-delay: 424ms;
    -webkit-animation-duration: 1040ms;
            animation-duration: 1040ms;
  }
  .confetti-piece:nth-child(11) {
    left: 77%;
    transform: rotate(77deg);
    -webkit-animation: makeItRain 1000ms infinite ease-out;
            animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation-delay: 138ms;
            animation-delay: 138ms;
    -webkit-animation-duration: 1121ms;
            animation-duration: 1121ms;
  }
  .confetti-piece:nth-child(12) {
    left: 84%;
    transform: rotate(-64deg);
    -webkit-animation: makeItRain 1000ms infinite ease-out;
            animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation-delay: 32ms;
            animation-delay: 32ms;
    -webkit-animation-duration: 1021ms;
            animation-duration: 1021ms;
  }
  .confetti-piece:nth-child(13) {
    left: 91%;
    transform: rotate(-25deg);
    -webkit-animation: makeItRain 1000ms infinite ease-out;
            animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation-delay: 34ms;
            animation-delay: 34ms;
    -webkit-animation-duration: 1068ms;
            animation-duration: 1068ms;
  }
  .confetti-piece:nth-child(odd) {
    background: #17d3ff;
  }
  .confetti-piece:nth-child(even) {
    z-index: 1;
  }
  .confetti-piece:nth-child(4n) {
    width: 5px;
    height: 12px;
    -webkit-animation-duration: 2000ms;
            animation-duration: 2000ms;
  }
  .confetti-piece:nth-child(3n) {
    width: 3px;
    height: 10px;
    -webkit-animation-duration: 2500ms;
            animation-duration: 2500ms;
    -webkit-animation-delay: 1000ms;
            animation-delay: 1000ms;
  }
  .confetti-piece:nth-child(4n-7) {
    background: #ff4e91;
  }
  
  @-webkit-keyframes makeItRain {
    from {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    to {
      transform: translateY(400px);
    }
  }
  
  @keyframes makeItRain {
    from {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    to {
      transform: translateY(400px);
    }
  }